
@font-face {
font-family: monument regular;
src: url("fonts/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
font-family: degarism studio;
src: url("fonts/Degarism Studio - Alliance No.2 Light.otf") format("opentype");
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  /* CSS */

  .container {
    max-width: 600px;
    margin: 30px auto;
    padding: 100px;
    width: 90%;
    height: 100vh;
    position: relative;
}

.text {
    color: white;
    margin: 0;
    font-size: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: -30%;
    transform: translateY(-50%);
    z-index: 1;
    text-transform: lowercase;
    white-space: nowrap;
    font-family: monument regular;

}

.paragraph {
  max-width: 600px;
  margin: 0 auto;
  width: 90%;
  line-height: 1.8;
  color: white;
  font-family: degarism studio;
  font-size: 20px;
  position: relative;
  top: -60px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 1500px;
    overflow-x: hidden;
    background: #0f0f0f;
    -webkit-font-smoothing : antialiased;
    scroll-behavior: smooth;
}


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

  .container {
    max-width: 600px;
    margin: 30px auto;
    padding: 100px;
    width: 90%;
    height: 100vh;
    position: relative;
}

.text {
    color: white;
    margin: 0;
    font-size: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: -30%;
    transform: translateY(-50%);
    z-index: 1;
    text-transform: lowercase;
    white-space: nowrap;
    font-family: monument regular;

}

.paragraph {
  max-width: 600px;
  margin: 0 auto;
  width: 90%;
  line-height: 1.8;
  color: white;
  font-family: degarism studio;
  font-size: 20px;
  position: relative;
  top: -60px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 1500px;
    overflow-x: hidden;
    background: #0f0f0f;
    -webkit-font-smoothing : antialiased;
    scroll-behavior: smooth;
}


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */

  .container {
    max-width: 600px;
    margin: 30px auto;
    padding: 100px;
    width: 90%;
    position: relative;
}

.text {
    color: white;
    margin: 0;
    font-size: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: -30%;
    transform: translateY(-50%);
    z-index: 1;
    text-transform: lowercase;
    white-space: nowrap;
    font-family: monument regular;

}

.paragraph {
  max-width: 600px;
  margin: 0 auto;
  width: 90%;
  line-height: 1.8;
  color: white;
  font-family: degarism studio;
  font-size: 20px;
  position: relative;
  top: -60px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 1500px;
    overflow-x: hidden;
    background: #0f0f0f;
    -webkit-font-smoothing : antialiased;
    scroll-behavior: smooth;
}


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

  .container {
    max-width: 600px;
    margin: 30px auto;
    padding: 100px;
    width: 90%;
    height: 100vh;
    position: relative;
}

.text {
    color: white;
    margin: 0;
    font-size: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: -30%;
    transform: translateY(-50%);
    z-index: 1;
    text-transform: lowercase;
    white-space: nowrap;
    font-family: monument regular;

}

.paragraph {
    max-width: 600px;
    margin: 0 auto;
    width: 90%;
    line-height: 1.8;
    color: white;
    font-family: degarism studio;
    font-size: 16px;
    position: relative;
    top: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 1500px;
    overflow-x: hidden;
    background: #0f0f0f;
    -webkit-font-smoothing : antialiased;
    scroll-behavior: smooth;
}

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */

    .container {
      max-width: 600px;
      margin: 30px auto;
      padding: 15px;
      width: 90%;
      position: relative;
  }

  .text {
      color: white;
      margin: 0;
      font-size: 14px;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: -8%;
      transform: translateY(-50%);
      z-index: 1;
      text-transform: lowercase;
      white-space: nowrap;
      font-family: monument regular;
  }

  .paragraph {
    max-width: 600px;
    margin: 0 auto;
    width: 90%;
    line-height: 1.8;
    color: white;
    font-family: degarism studio;
    font-size: 15px;
    position: relative;
    top: 10px;
  }

  html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      min-height: 1000px;
      overflow-x: hidden;
      background: #0f0f0f;
      -webkit-font-smoothing : antialiased;
      scroll-behavior: smooth;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  /* CSS */

  .container {
    max-width: 600px;
    margin: 30px auto;
    padding: 15px;
    width: 90%;
    position: relative;
}

.text {
    color: white;
    margin: 0;
    font-size: 14px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: -8%;
    transform: translateY(-50%);
    z-index: 1;
    text-transform: lowercase;
    white-space: nowrap;
    font-family: monument regular;
}

.paragraph {
  max-width: 600px;
  margin: 0 auto;
  width: 90%;
  line-height: 1.8;
  color: white;
  font-family: degarism studio;
  font-size: 15px;
  position: relative;
  top: 10px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 1000px;
    overflow-x: hidden;
    background: #0f0f0f;
    -webkit-font-smoothing : antialiased;
    scroll-behavior: smooth;
}

}



.image-container {
    padding-bottom: 100%;
    background: black;
    position: relative;
/*    overflow: hidden;*/
    z-index: 2;
    background-size: cover;
    background-position: center;
}



.text span {
    position: relative;
    display: block;
}


